.custom-sidebar-button{
    margin: 5px;
    width: 95%;
    background-color: rgb(255, 255, 255);
    color: rgb(34, 33, 33);
    border: none;
    text-wrap: wrap;
    text-align: left;
}

.dropdown-item-in-sidebar{
    max-width: 245px;
    text-wrap: wrap;
    color: rgb(255, 255, 255);
}
#sidebar-dropdown-menu{
    background-color: rgb(7, 113, 250);

}

.dropdown-item-in-sidebar{
    border-radius: 4px;
    margin: 3px;
}

.dropdown-item-in-sidebar:hover{
    background-color: rgb(255, 255, 255) !important;
    color: rgb(7, 113, 250) !important;
}

.sidebar{
    box-shadow: 4px 0 6px rgba(0, 0, 0, 0.2);

}

.dropdown-item-in-sidebar{
    text-wrap: wrap ;
    width: 350px;

}

@media (max-width:860px){
    .dropdown-item-in-sidebar{
        max-width: 100%;
        text-wrap: wrap;
    }
}