.custom-sidebar-button{
    margin: 5px;
    width: 95%;
    background-color: rgb(226, 229, 240);
    color: rgb(34, 33, 33);
    border: none;
    text-wrap: wrap;
    text-align: left;
}

.dropdown-item-in-sidebar{
    max-width: 310px;
    text-wrap: wrap;
    color: rgb(255, 255, 255);
}
#sidebar-dropdown-menu{
    background-color: rgb(0, 69, 158);

}

.dropdown-item-in-sidebar{
    border-radius: 4px;
    margin: 3px;
}

.dropdown-item-in-sidebar:hover{
    background-color: rgb(255, 255, 255) !important;
    color: rgb(11, 75, 157) !important;
}



.dropdown-item-in-sidebar{
    text-wrap: wrap ;
    width: 350px;

}


/*<<<<<<Form>>>>>>>>>> */

.maintenence-reporting-form{
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 8px;
    margin-bottom: 20px;
    padding: 25px;
    border-radius: 5px;
    border-width: 1px;
    background-color: rgb(169, 181, 181);
    box-shadow: 0px 0px 10px rgba(142, 192, 241, 0.5);

}

.maintenence-reporting-form label,
.maintenence-reporting-form input,
.maintenence-reporting-form textarea{
    display: block;
    text-align: left;
    margin-left: 3px;
    margin-right: 3px;
    width: 98%;
    border-radius: 4px;
    border: none;
}  

.maintenence-reporting-form label{
    font-weight: 500;
}

.maintenence-reporting-form input,
.maintenence-reporting-form textarea{
    background-color: rgb(228, 235, 240);
    color: black;
    min-height: 30px;
    margin-bottom: 15px;
}

.maintenence-reporting-form textarea{
    height: 100px;
    max-height: 250px;
}
.maintenence-reporting-form button{
    background-color: rgb(26, 64, 125);
    width: 100%;
    align-items: center;
    align-self: center;
    margin-top: 8px;
    transition: 0.5s;
}

.maintenence-reporting-form button:hover{

    color: rgb(45, 121, 242);
    background-color: aliceblue;


}

.maintenence-reporting-form input:focus,
.maintenence-reporting-form textarea:focus{
    border-color: #0778f2;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/*<<<<<<<<Appear on phones>>>>>>>*/

.sidebar-offcanvas-button{
    background-color:transparent;
    border: none;
    padding: 0;
    margin-left: 5px;
    margin-top: 15px;
    box-shadow: 0px 0px 5px rgba(109, 112, 116, 0.8);
}



@media (max-width:860px){
    .dropdown-item-in-sidebar{
        max-width: 100%;
        text-wrap: wrap;
    }
}