.nets-cash-card-and-flash-pay-container{
    padding: 3%;
    text-align: left;
}

#nets-flashcard-image {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-top: 25px;
    margin-bottom: 30px;
    max-width: 100%;
}


@media (max-width:860px){
    .nets-cash-card-and-flash-pay-container h1{
        margin-left: 15%;
    }
}