.replacement-parts-container{
    padding: 3%;
    text-align: left;
}


.replacement-parts-grid-container{
    margin-top: 2%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Responsive columns */
    gap: 25px; 
}

.replacement-part-box{
    aspect-ratio: 0.48; /* Keeps each box square */
    box-shadow: 0px 0px 5px rgb(214, 213, 213);
    background-color: rgba(237, 237, 237, 0.526);
    padding: 2.5%;
    border-radius: 8px;
    overflow: hidden;
}

.replacement-part-box img {
    width: 100%; /* Full width of the box */
    height: 300px; /* Full height of the box */
    object-fit: cover; /* Ensures the image covers the box area without distortion */
    border-radius: 3px;
}

.replacemet-part-box-title{
    font-size: 1.2em;
    font-weight: 500;
    margin-top: 8px;
    margin-bottom: 8px;
}



@media (max-width:860px){
    .replacement-parts-container h1{
        margin-left: 15%;
    }
}