
.company-introduction-in-homepage{
    padding: 3%;
    text-align: left;

}

.product-section-in-homepage,
.ssc-products-section-in-homepage{
    text-align: left;
    padding: 3%;
    border-width: 1px;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-color: rgb(227, 227, 228);
    border-bottom: none;
}

.product-section-in-homepage h2{
    margin-bottom: 15px;
}

.product-visuals-in-homepage {
    display: flex; /* Use flexbox to arrange items in a row */
    flex-wrap: wrap; /* Allow items to wrap to the next line if necessary */
    justify-content: space-between; /* Space between the items */
}

.product-visuals-in-homepage > div {
    flex: 1; /* Allow the child divs to grow and fill the space */
    min-width: 300px; /* Minimum width for each box (optional) */
    box-sizing: border-box; /* Ensure padding and borders are included in the width */
    margin: 5px; /* Optional margin for spacing */
}

#i-vac-video{
    border-radius: 8px;
    width: 100%;
}

#parking-lot-video {
    border-radius: 20px;
    width: 50%;
}

#sembawang-park-bbq{
    border-radius: 20px;
    width: 50%;
}

#Booking-and-reserving-youtube-video{
    border-radius: 8px;
    width: 50%;
}

.iot-products{
    display: flex;
    flex-wrap: wrap;
}

.iot-products div{
    padding: 2%;
    border-top-left-radius: 11px;
    border-bottom-right-radius: 11px;
    margin: 0.3%;
    font-size: 1.2em;
    transition: 0.2s;
    color: rgb(50, 52, 54);
}

.iot-products div:hover{
    padding: 15px;
}



.carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;         /* Rounds the image corners */
}

#carousel-home-page{
    width: 60%;
    margin-left: 5em;
    overflow: hidden;
}

#ivac-image{
    width: 300px;
    height: auto;
}


.ssc-products-in-homepage{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
}

.individual-product-container{
    position: relative; /* Needed to position the overlay relative to this parent container */
    max-width:fit-content;
    max-height: fit-content;
    margin: 3%;
    transition: 0.35s;

}

.individual-product-container img{
    object-fit: cover;
    border-radius: 5px;
    height: 300px;
    width: 350px;
    max-width: 100%;
    max-height: 100%;
}

.individual-product-container-overlay{
    position: absolute;
    top: 0; /* Start at the top */
    left: 0; /* Start at the left */
    width: 100%; /* Cover the full width of the container */
    height: 100%; /* Cover the full height of the container */
    background: rgba(0, 0, 0, 0.3); /* Semi-transparent black overlay */
    display:inline-block;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: 0.32s;
}


.individual-product-container-overlay button{
    display: block;
    background-color: rgba(108, 108, 196, 0.837);
    margin: 4%;
    opacity: 0;
    transition: 0.5s;
    padding: 1%;
    font-weight: 100;
    border-radius: 3px;
}
  
.ssc-product-name {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 100;
    text-align: center;
    padding: 10px 15px;
    font-size: 2em;
    transform: 0.5s;
  }

.individual-product-container:hover{
    transform: scale(1.05);
}

.individual-product-container:hover .ssc-product-name {
    font-weight: 400;
}

.individual-product-container:hover .individual-product-container-overlay button{
    opacity: 1;
    cursor: pointer;
}

.individual-product-container:hover .individual-product-container-overlay{
    background: rgba(0, 0, 0, 0.15); /* Semi-transparent black overlay */
}



@media (max-width:860px){

    .Homepage-container h1{
        padding-left: 40px;
    }
    .product-visuals-in-homepage {
        flex-direction: column; /* Stack items on top of each other in mobile view */
    }
    .individual-product-container-overlay button{
        opacity: 1;
    }
    .individual-product-container img{
        height: 150px;

    }
    .ssc-product-name {
        color: rgb(255, 255, 255);
        font-size: 1.2rem;
        font-weight: 400;
    }
    #sembawang-park-bbq{
        width: 100%;
    }
    
    #Booking-and-reserving-youtube-video{
        width: 100%;
    }
    
  }