.page-footer-container {
    margin-top: 20px;
    display: block;
    margin-bottom: 0;
}

.page-footer-container a{
    color: white;
    font-weight: 100;
    transition: 0.3s;
}

.page-footer-container a:hover{
    color: rgb(0, 0, 0);
}

.page-footer-lower-section {
    display: flex;                 /* Make it a flex container */
    background-color: #182a3e;
    color: white;
    text-align: center;
    height: 3em;
    align-items: center;           /* Center vertically */
    justify-content: center;    
}

.page-footer-middle-section {
    background: linear-gradient(135deg, rgb(2, 20, 46), #183957);
    color: azure;
}



/* The parent row should be flex to display columns horizontally */
.page-footer-middle-section-row-1,
.page-footer-middle-section-row-2 {
    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap; /* columns to wrap on smaller screens */
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 1px;
    border-color: rgb(86, 86, 88);
}



.page-footer-middle-section-column-in-row-1,
.page-footer-middle-section-column-in-row-2 {
    flex: 1; /* Make each column take up equal space */
    padding: 5px; 
    margin-top: 15px;
    margin-bottom: 15px;


}

#dropdown-toggle-button-in-footer{
    background-color:transparent;
    text-wrap: wrap;
    border: none;
    text-wrap: wrap;
    width: 100%;
    font-size: 0.9em;
}

#dropdown-menu-in-footer{
    background-color: rgb(42, 40, 40);
    max-height: 250px;
    overflow-y: auto;  /* Allows vertical scrolling */
    -webkit-overflow-scrolling: touch; /* Enables smooth scrolling on iOS */
}

#dropdown-menu-in-footer::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
    background: rgba(0, 0, 0, 0.3); /* Background color of the scrollbar */
    border-radius: 5px;
}


.page-footer-middle-section-column-in-row-1 .dropdown-item{
    color: rgb(238, 232, 231);
    font-size: 0.85em;
    width: 195px;
    text-wrap: wrap;
    margin-top: 5px;
}

#dropdown-toggle-button-in-footer:hover{
    background-color: #38455d;
    color: rgb(105, 201, 225);
}



/* Mobile adjustments */
@media (max-width: 860px) {
    .page-footer-lower-section {
        font-size: 0.6em;
    }

    .page-footer-middle-section-row-1,
    .page-footer-middle-section-row-2 {
        flex-wrap: wrap;
        justify-content: space-between; /* Keeps columns spaced */
    }

    .page-footer-middle-section-column-in-row-1{
        flex: 0 0 50%; /* Each column takes up 45% of the width */
        max-width: 50%;
        margin-bottom: 20px; /* Adds spacing between rows */
 
    }


}
