.stainless-steel-remote-control-parking-space-barrier-container{
    padding: 3%;
    text-align: left;
}

@media (max-width:860px){
    .stainless-steel-remote-control-parking-space-barrier-container h1{
        margin-left: 15%;
        font-size: 2em;
    }
}