.client-container{
    padding: 3%;
    text-align: left;
}

.client-description {
    display: grid;
    gap: 10px;
    padding: 10px;
    /* Adjust columns based on screen width */
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.client-description div {
    background-color: #399a95b4; /* Light gray-blue background */
    border: none;
    padding: 5px;
    color: white;
    text-align: center;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1; /* Makes it square */
    border-radius: 5px;
    transition: 0.3s;
}



.client-description div:hover {
    transform: scale(1.03);
    background-color: #399a95e6;
}

.client-box {
    position: relative;
}

.client-name {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 1.1em;
    color: #fdfdfd;
    text-align: left;
}

.lottie-animation-in-clients {
    position: absolute;
    top: 5px;
    right: 5px;
}




@media (max-width:860px){
    .client-container h1{
        margin-bottom: 25%;
        margin-left: 15%;
        font-size: 2.4em;
    }
    
}