#root {
  max-width: 100%;
  text-align: center;
}

body, html {
  height: 100%; /* Full height for body and html */
  margin: 0; /* Remove default margins */
}

.app-container {
  display: flex;               /* Use flexbox for layout */
  flex-direction: column;      /* Stack items vertically */
  min-height: 100vh;          /* Minimum height of the viewport */
  background-color: rgb(255, 255, 255);
}

.main-content-container {
  width: 100%; /* The main container takes full width */
 /* Optional padding for spacing */
  box-sizing: border-box; /* Ensures padding doesn't affect width calculation */
  display: flex; /* Use flexbox to arrange items in a row */

}

.main-content-container-left-section,
.main-content-container-right-section{
  border-style: solid;
  padding: none;
  border: none;
}

.main-content-container-left-section{
  width: 18%;
  height: 1650px;
  background-color: rgb(255, 255, 255);
  padding-top: 95px;
}
.main-content-container-right-section{
  width: 82%;
  padding-top: 95px;
  background-color: rgb(255, 255, 255);
  flex-grow: 1;
}



.old-weblink {
  width: 70px;
  height: 70px;
  background: linear-gradient(275deg, rgb(31, 89, 172),rgb(8, 204, 230));
  border-radius: 50%;
  position: fixed;
  top: 87%;
  left: 96.5%;
  transform: translateX(-50%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: 0.4S;
  font-weight: 300;
}

.old-weblink:hover{
  width: 80px;
  height: 80px;
  cursor: pointer;
  font-size: 1.2em;
  color: rgb(37, 114, 114);
}




@media (max-width:860px){

  .main-content-container{
    padding-top: 85px;
  }

  .main-content-container-left-section{
    width: 0%;
    height: 0%;
    z-index: 5;
    padding-top: 0px;
  }
  .main-content-container-right-section{
    padding-top: 1%;
    width: 100%;
  }
}



